<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<title>Chartjs Charts</title>
  <style>
    body, input, select {
        font-size: 20px; /* Set your desired base font size */
    }
    .canvas-container {
        display: inline-block;
        margin-right: 10px; /* Adjust the margin as needed */
        height: 30vh;
        width: 30%;
    }
  </style>
</head>

<body>

  <!-- Form to select a field -->
  <form method="post" action="{{ url_for('homepage') }}">
      <label for="selected_field">Select Field:</label>
      <select id="selected_field" name="selected_field">
          <option value="internal_supply" {% if selected_field == 'internal_supply' %}selected{% endif %}>Internal Supply</option>
          <option value="external_supply" {% if selected_field == 'external_supply' %}selected{% endif %}>External Supply</option>
          <option value="consumption" {% if selected_field == 'consumption' %}selected{% endif %}>Consumption</option>
          <option value="feed-in" {% if selected_field == 'feed-in' %}selected{% endif %}>Feed-In</option>
          <option value="self-consumption" {% if selected_field == 'self-consumption' %}selected{% endif %}>Self Consumption</option>
          <option value="generation" {% if selected_field == 'generation' %}selected{% endif %}>Generation</option>
          <!-- Add more options based on your available fields -->
      </select>

      <label for="selected_day">Enter day:</label>
      <input type="text" id="selected_day" name="selected_day" value="{{ selected_day }}">
      <label for="initial_charge">Enter initial_charge in kWh:</label>
      <input type="text" id="initial_charge" name="initial_charge" value="{{ initial_charge }}">
      <label for="capacity">Enter capacity in kWh:</label>
      <input type="text" id="capacity" name="capacity" value="{{ capacity }}">
      <label for="price_feed_in">Price Feed-In in €:</label>
      <input type="text" id="price_feed_in" name="price_feed_in" value="{{ price_feed_in }}">
      <label for="price_external">Price External in €:</label>
      <input type="text" id="price_external" name="price_external" value="{{ price_external }}">
      <input type="submit" value="Select">
  </form>
  <div>
    <div class="canvas-container">
        <canvas id="plot_internal"></canvas>
    </div>
    <div class="canvas-container">
        <canvas id="plot_external"></canvas>
    </div>
    <div class="canvas-container">
        <canvas id="plot_charge"></canvas>
    </div>
  </div>
  <div>
    <div class="canvas-container">
        <canvas id="plot_internal_battery"></canvas>
    </div>
    <div class="canvas-container">
        <canvas id="plot_external_battery"></canvas>
    </div>
    <div class="canvas-container">
        <canvas id="plot"></canvas>
    </div>
  </div>

  <br>

  <label for="sum_feed_in">Sum Feed-In</label>
  <input type="text" id="sum_feed_in" name="Sum Feed-In" value="{{ sum_feed_in }}kWh" readonly>
  <label for="sum_external">Sum External</label>
  <input type="text" id="sum_feed_in" name="Sum Feed-In" value="{{ sum_external }}kWh" readonly>
  <label for="sum_feed_in">Sum Feed-In with Storage</label>
  <input type="text" id="sum_feed_in" name="Sum Feed-In" value="{{ sum_feed_in_battery }}kWh" readonly>
  <label for="sum_external">Sum External with Storage</label>
  <input type="text" id="sum_feed_in" name="Sum Feed-In" value="{{ sum_external_battery }}kWh" readonly>
  <br>
  <label for="revenue_feed_in">Rev. Feed-In</label>
  <input type="text" value="{{ revenue_feed_in }}€" readonly>
  <label for="costs_external">Cos. External</label>
  <input type="text" value="{{ costs_external }}€" readonly>
  <label for="revenue_feed_in">Rev. Feed-In with Storage</label>
  <input type="text" value="{{ revenue_feed_in_battery }}€" readonly>
  <label for="costs_external">Cos. External with Storage</label>
  <input type="text" value="{{ costs_external_battery }}€" readonly>
  <br>
  <label for="gain"><b>Net Gain in given time period</b></label>
  <input type="text" value="{{ gain }}" readonly>


	<script>
		const labels = {{ labels | tojson}};

		const data = {
			labels: labels,
			datasets: [{
				label: '',
				backgroundColor: 'rgb(255, 99, 132)',
				borderColor: 'rgb(255, 99, 132)',
				data: {{ data | tojson}},
			}]
		};

		const config = {
			type: 'line',
			data: data,
			options: { maintainAspectRatio: false }
		};

		const plot = new Chart(
			document.getElementById('plot'),
			config
		);


		const data_internal = {
			labels: labels,
			datasets: [{
				label: 'Generation',
				backgroundColor: 'rgb(0, 255, 0)',
				borderColor: 'rgb(0, 255, 0)',
				data: {{ data_internal | tojson}},
			}]
		};

		const config_internal = {
			type: 'line',
			data: data_internal,
			options: { maintainAspectRatio: false }
		};

		const plot_internal = new Chart(
			document.getElementById('plot_internal'),
			config_internal
		);

		const data_external = {
			labels: labels,
			datasets: [{
				label: 'Consumption',
				backgroundColor: 'rgb(255, 0, 0)',
				borderColor: 'rgb(255, 0, 0)',
				data: {{ data_external | tojson}},
			}]
		};

		const config_external = {
			type: 'line',
			data: data_external,
			options: { maintainAspectRatio: false }
		};

		const plot_external = new Chart(
			document.getElementById('plot_external'),
			config_external
		);

		const data_charge = {
			labels: labels,
			datasets: [{
				label: 'Charge',
				backgroundColor: 'rgb(255, 0, 0)',
				borderColor: 'rgb(255, 0, 0)',
				data: {{ data_charge | tojson}},
			}]
		};

		const config_charge = {
			type: 'line',
			data: data_charge,
			options: { maintainAspectRatio: false }
		};

		const plot_charge = new Chart(
			document.getElementById('plot_charge'),
			config_charge
		);

		const data_internal_battery = {
			labels: labels,
			datasets: [{
				label: 'Feed-In with Storage',
				backgroundColor: 'rgb(255, 0, 0)',
				borderColor: 'rgb(255, 0, 0)',
				data: {{ data_internal_battery | tojson}},
			}]
		};

		const config_internal_battery = {
			type: 'line',
			data: data_internal_battery,
			options: { maintainAspectRatio: false }
		};

		const plot_internal_battery = new Chart(
			document.getElementById('plot_internal_battery'),
			config_internal_battery
		);

		const data_external_battery = {
			labels: labels,
			datasets: [{
				label: 'External Supply with Storage',
				backgroundColor: 'rgb(255, 0, 0)',
				borderColor: 'rgb(255, 0, 0)',
				data: {{ data_external_battery | tojson}},
			}]
		};

		const config_external_battery = {
			type: 'line',
			data: data_external_battery,
			options: { maintainAspectRatio: false }
		};

		const plot_external_battery = new Chart(
			document.getElementById('plot_external_battery'),
			config_external_battery
		);

	</script>
</body>
</html>

